<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <!--<div class="navbar-header">-->
        <!--<a class="navbar-brand" href="#">WebSiteName</a>-->
        <!--</div>-->
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li sec:authorize="isAuthenticated()"><a href="task">Tasks</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <div class="navbar-text" sec:authorize="isAuthenticated()">
                    Logged in as: <span sec:authentication="name"/>
                </div>
            </li>
            <li sec:authorize="!isAuthenticated()"><a class="btn" href="/register">Create accout</a></li>
            <li sec:authorize="!isAuthenticated()"><a href="/login">Login</a></li>
            <li sec:authorize="isAuthenticated()"><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>